.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

button {
    border: solid 3px black;
    border-radius: 25px;
    margin:  10px;
    padding: 10px 20px;
    background-color: aquamarine;
}

button :hover {
    background-color: aqua;
    border: none;
}